{% extends 'geekshop/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/mainapp/style.css' %}">
{% endblock %}

{% block content %}
		<div class="hero-white">
			<div class="header clearfix">
				{% include 'geekshop/includes/main_menu.html' %}
                <a href="#" class="basket"></a>
			</div>
		</div>

		<div class="details">
			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
						<img src="{{ product.image.url }}">
					</div>
					<div class="slider-control">
						<div class="block">
							<a href="#"><img src="{% static '/geekshop/img/controll.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static '/geekshop/img/controll1.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static '/geekshop/img/controll2.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{{ product.short_desc}}</h3>
					<h3 class="red">горячее предложение</h3>
					<p class="price"> {{ product.price }} <span>руб</span></p>
					<a href="{% url 'basket:add' pk=product.pk %}" class="red-button">
						заказать <i class="fa chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
                        {{ product.description}}
					</div>
				</div>
			</div>
        </div>
{% endblock %}