<a href="{% url 'index' %}" class="logo"></a>
<ul class="menu">
    <li><a href="{% url 'index' %}" class="active">домой</a></li>
    <li><a href="{% url 'products:index' %}">продукты</a></li>
    <li><a href="{% url 'contacts' %}">контакты</a></li>
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
        {% if user.is_superuser %}
            <li>
                <a href="{% url 'admin_staff:users' %}">
                    админка
                </a>
            </li>
        {% endif %}
    {% endif %}
    <li>
        {% if user.is_authenticated %}
          <a href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
          <a href="{% url 'auth:login' %}">войти</a>
        {% endif %}
    </li>
    {% if basket %}
        <li>
            <a href="{% url 'basket:index' %}" class="basket">
                <span>
                    {{ basket.0.total_cost|floatformat:0 }} руб
                    ({{ basket.0.total_quantity }} шт)
                </span>
            </a>
        </li>
    {% endif %}
</ul>
<a href="#" class="search"></a>