{% extends "geekshop/base.html" %}
{% load static %}

{% block js %}
    <script src="{% static 'ordersapp/js/orders_scripts.js' %}"></script>
    <script src="{% static 'ordersapp/js/jquery.formset.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Заказы</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Ваши заказы,
                       {% if user.first_name %}
                           {{ user.first_name|title}}
                       {% else %}
                           Пользователь
                       {% endif %}
                </div>
                <div class="card-body">
            {% include 'ordersapp/includes/inc_order_summary.html' %}
            <div class="order_form">
               <form action="" method="post">
                   {% csrf_token %}
                   {{ form.as_p }}
                   <table class="table">
                       {{ orderitems.management_form }}
                       {% for form in orderitems.forms %}
                           {% if forloop.first %}
                               <thead>
                               <tr class="formset_row">
                                   {% for field in form.visible_fields %}
                                       <th class="{% cycle 'td1' 'td2' 'td3' %} order formset_td">
                                           {{ field.label|capfirst }}
                                       </th>
                                   {% endfor %}
                               </tr>
                               </thead>
                           {% endif %}
                           <tr class="formset_row">
                               {% for field in form.visible_fields %}
                                   <td class="{% cycle 'td1' 'td2' 'td3' %} order formset_td">
                                       {% if forloop.first %}
                                           {% for hidden in form.hidden_fields %}
                                               {{ hidden }}
                                           {% endfor %}
                                       {% endif %}
                                       {{ field.errors.as_ul }}
                                   {% if field.name != 'price' %}
                                       {{ field }}
                                   {% else %}
                                       {% if field.value %}
                                            <span class="orderitems-{{ forloop.parentloop.counter0 }}-price">
                                                {{ field.value }}
                                            </span> руб
                                       {% endif %}
                                   {% endif %}
                                   </td>
                               {% endfor %}
                           </tr>
                       {% endfor %}
                   </table>
                   <button type="submit" value="сохранить" class="btn btn-default btn-round form-control last">сохранить</button>
                   {% include 'ordersapp/includes/inc_order_actions.html' %}
               </form>
            </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}